.nav {

}

.nav__list {
    display: flex;
}

.nav__link {
    position: relative;
    display: inline-block;
    color: #414c63;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 30px;
}

.router-link-active {

    color: #383bcf;
    font-weight: 600;

    &:after {
        content: '';
        height: 3px;
        width: 100%;
        background-color: #383bcf;
        position: absolute;
        left: 0;
        bottom: 0;
    }

}
