mixin hero()
    .hero
        .hero__descr
            p.hero__text Личный сайт
                span веб разработчика
            h1.hero__title Сергея Прокопени
        .hero__scroll
            span Скролл
            +icon('scroll', 'hero__svg', 20, 30)


