mixin skills()
    section.skills
        h3.skills__title Чем я могу быть полезен вам
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        h5 Front-end
        ul.skills__list
            li.skils__item html5
            li.skils__item css3
            li.skils__item Javascript
            li.skils__item Jquery и Vue.js
        h5 Workflow
        ul.skills__list
            li.skils__item git
            li.skils__item Terminal
            li.skils__item Gulp
            li.skils__item Webpack






            .single-chart
                svg.circular-chart.orange(viewBox='0 0 36 36')
                    path.circle-bg(d='M18 2.0845\
                    a 15.9155 15.9155 0 0 1 0 31.831\
                    a 15.9155 15.9155 0 0 1 0 -31.831')
                    path.circle(stroke-dasharray='50, 100', d='M18 2.0845\
                    a 15.9155 15.9155 0 0 1 0 31.831\
                    a 15.9155 15.9155 0 0 1 0 -31.831')
                    text.percentage(x='18', y='20.35') html5
