mixin reviews()
    section.reviews.section
        script(type="text/x-template")#reviews
            .container
                .reviews__top
                    h2.reviews__title.section__title Что обо мне говорят
                    .reviews__btns.btns-reviews
                        button(@click="previous()").btns-reviews__prew.btns-reviews__icon
                            span.visually-hidden Вперед
                            +icon('short_arrow', 'btns-reviews__svg', '10px', '10px')
                        button(@click="next()").btns-reviews__next.btns-reviews__icon
                            span.visually-hidden Назад
                            +icon('short_arrow', 'btns-reviews__svg', '10px', '10px')
                .reviews__slider
                    +sliderReviews(sliderData)
        #reviews_component



mixin sliderReviews(list)
    flickity(ref="flickity" :options="flickityOptions")
        each item, ind in list
            div(class='slider-reviews__item')
                p.slider-reviews__text=item.text
                .slider-reviews__author.author
                    .author__img
                        +image(`content/reviews/${item.img}`, '')
                    .author__descr
                        p.author__name=item.name
                        p.author__about=item.about

-
    var sliderData = [
    {
        text: '1Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!',
        img: 'author_1.png',
        name: 'Ковальчук Дмитрий',
        about: 'Основатель Loftschool'
    },
    {
        text: '2Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах',
        img: 'author_2.png',
        name: 'Владимир Сабанцев',
        about: 'Преподаватель'
    },
    {
        text: '3Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!',
        img: 'author_1.png',
        name: 'Ковальчук Дмитрий',
        about: 'Основатель Loftschool'
    },
    {
        text: '4Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах',
        img: 'author_2.png',
        name: 'Владимир Сабанцев',
        about: 'Преподаватель'
    },
    {
        text: '5Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!',
        img: 'author_1.png',
        name: 'Ковальчук Дмитрий',
        about: 'Основатель Loftschool'
    },
    {
        text: '6Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах',
        img: 'author_2.png',
        name: 'Владимир Сабанцев',
        about: 'Преподаватель'
    }
    ]
