.reviews__top{
    text-align: center;
    @include tablets{
        display: flex;
        margin-bottom: 60px;
    }
}

.reviews__title{
    margin-bottom: 25px;
    @include tablets{
        margin-bottom: 0;
    }
}

.reviews__btns{
    margin-bottom: 30px;
    @include tablets{
        margin-left: 70px;
        margin-bottom: 0;
    }
    @include desktop{
        margin-left: 100px;
    }
}

.reviews__slider{
    @include desktopHd{
        padding-right: 20%;
    }
}
