mixin header()
    header.header
        .container
            .header__container
                .header__logo СП
                .header__menu.menu
                    +menuList('menu', menuList)
                .header__social
                    .social
                        a(href='#' target='_blank').social__link
                            +icon('inst', 'social__icon')
                            span.visually-hidden Инстаграмм
                        a(href='#' target='_blank').social__link
                            +icon('vk', 'social__icon')
                            span.visually-hidden Вконтакте
                        a(href='#' target='_blank').social__link
                            +icon('github', 'social__icon')
                            span.visually-hidden Гитхаб
                .header__burger.burger
                    span.burger__line
                        i.visually-hidden Мобильное меню
                .header__mobile-menu.mobile-menu
                    .mobile-menu__wrap
                        +menuList('mobile-menu', menuList)
                        .social
                            a(href='#' target='_blank').social__link
                                +icon('inst', 'social__icon')
                                span.visually-hidden Инстаграмм
                            a(href='#' target='_blank').social__link
                                +icon('vk', 'social__icon')
                                span.visually-hidden Вконтакте
                            a(href='#' target='_blank').social__link
                                +icon('github', 'social__icon')
                                span.visually-hidden Гитхаб


mixin menuList(className, list)
    ul(class=`${className}__list`)
        each item in list
            li(class=`${className}__item`)
                a(class=`${className}__link` href=item.link)=item.title

-
    var menuList = [
    {
        link: '#main',
        title: 'Главная'
    },
    {
        link: '#about',
        title: 'Обо мне'
    },
    {
        link: '#skill',
        title: 'Навыки'
    },
    {
        link: '#works',
        title: 'Работы'
    },
    {
        link: '#reviews',
        title: 'Отзывы'
    },
    {
        link: '#contact',
        title: 'Связаться'
    }
    ]
